@tailwind base;

:root {
  --blue-light: #08CAD6;
  --blue: #0B7EA9;
  --blue-alternative: #4880FE;
  --blue-dark-alternative: #17294B;
  --blue-dark: #09071C;
  --violet: #8A32EA;
  --violet-alternative: #C66EDA;
  --violet-dark: #410380;
  --violet-dark-alternative: #5C20B4;
  --violet-light: #B494F8;
  --yellow: #FFE800;
  --yellow-dark-alternative: #887C00;
  --yellow-dark: #534C00;
  --orange-light: #B36600;
  --orange: #FF9200;
  --orange-alternative: #DB7E00;
  --orange-dark-alternative: #884E00;
  --orange-dark: #533000;
  --xl: 1280px;
}

@layer base {
  @font-face {
    font-family: "eFootball Stencil";
    src: url('fonts/eFootballStencil-Regular.woff') format('woff');
  }
  @font-face {
    font-family: "eFootball Sans";
    src: url('fonts/eFootballSans-Regular.woff') format('woff');
  }

  body {
    font-family: "eFootball Sans", sans-serif;
    background-color: theme('colors.blue-dark');
    color: theme('colors.main-yellow');
  }

  .container {
    min-width: var(--xl);
  }

  header {
    box-sizing: content-box;
  }

  .background-primary {
    background-color: theme('colors.main-blue');
    color: var(--white);
  }

  .background-dark {
    background-color: theme('colors.blue-dark');
  }

  .pes-table {
    border: 0;
    color: var(--white);
    background-color: theme('colors.blue-alternative');
    margin-bottom: .5rem;
    border-collapse: collapse;
    box-sizing: border-box;
    display: table;
    border-spacing: 2px;
  }

  .pes-table thead th {
    border: none;
    padding: 1rem 1.5rem;
    font-size: .9rem;
    border-bottom: 2px solid var(--yellow);
    vertical-align: bottom;
    color: var(--yellow-alternative);
  }

  .pes-table tbody tr {
    margin-bottom: .5rem;
  }

  .pes-table tbody th, .pes-table tbody td {
    border: none;
    padding: .5rem 1rem;
    border-bottom: 1px solid var(--yellow-alternative);
    font-size: .9rem;
  }
}

@tailwind components;

@tailwind utilities;
